/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 4%;
  background-color: #ffffff;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1221px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: flex;
  object-fit: cover;
}

.header {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #f6ebda;
  height: 950px;
}

.img-hero-top {
  width: 599px;
  height: 394px;
  position: absolute;
  background-image: url("../image/bg_img_hero.svg");
  background-position: top right;
  background-size: cover;
  top: 0;
  right: 0;
}

.header-container {
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
}

.sitenav {
}

.sitenav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sitenav-item {
}

.sitenav-link {
  color: #000000;
}

.sitenav-link:hover {
  color: #ff902b;
}

.header-nav-container-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.global-search {
  box-shadow: 6px 2px 24px 0px #00000021;
  border-radius: 35px;
}

.global-search-input {
  padding: 10px 12px 10px 40px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center left 14px;
  border-radius: 35px;
  border: 0;
  width: 250px;
}

.global-search-input:focus {
  outline: none;
}

.header-nav-actions-image {
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 489px;
  margin-top: 180px;
  position: relative;
}

.header-content h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.header-content h1 span {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ff902b;
}

.header-content p {
  color: #7e7d7a;
  margin-bottom: 32px;
}

.header-content-btn {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header-content-btn-link {
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;

  border-radius: 33px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  gap: 10px;
  background-color: #2f2105;
  box-shadow: 0px 4px 32px 0px #dfc37c40;
}

.header-content-btn-link span:nth-child(2) img {
  width: 12px;
  height: 12px;
}

.header-content-menubtn-link {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #f4ae26;
}

.header-cofe {
  position: absolute;
  top: 158px;
  right: 350px;
}
